<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% /* if (infoMessage) { %>
            <div class="user-message user-message--success"><%= infoMessage %></div>
        <% } */ %>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <div class="card__image">
                            <a href="/products/<%= product.id %>">
                                <img src="/<%= product.imageUrl %>"
                                    alt="<%= product.title %>">
                            </a>
                        </div>
                        <div class="card__content">
                            <h1 class="product__title"><%= product.title %></h1>
                            <h3 class="product__price">$<%= product.price %></h3>
                        </div>
                        <div class="card__actions">
                            <% if (isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
            <%- include('../includes/pagination.ejs', {pagination: pagination}) %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>